# Archivos de configuración de Python
*.pyc
__pycache__

# Archivo de registro de Django
*.log

# Base de datos SQLite
db.sqlite3
# Archivos generados por el entorno de desarrollo
*.swp
*.swo
.vscode

# Carpeta de medios (donde se almacenan archivos cargados por los usuarios)
media/

# Archivo de variables de entorno
.venv
venv/
env/

# Dependencias
node_modules