/* Estilo para alineación a la izquierda */
.left-align {
    text-align: left;
  }
  
  /* Estilo para alineación a la derecha */
  .right-align {
    text-align: right;
  }
  /* Estilo para centrar títulos y texto */
.center-align {
    text-align: center;
  }
  
  /* Estilo para títulos h4 */
  .h4-title {
    font-size: 1.5rem; /* Tamaño de fuente más grande para los títulos h4 */
    font-weight: bold; /* Texto en negrita para los títulos h4 */
  }